header{
  text-align: center;
  background-color: #930c36;
  color: white;
  height: 50px;

  h1{
    line-height: 50px;

  }
}

main{
  box-sizing: border-box;
  padding: 1rem;
  width: 80%;
  margin: 0 auto;
}

